<!DOCTYPE html>
{% block htmltype %}
{% endblock %}
<head>
    <meta charset="UTF-8">
    <link href="../scripts/common.css" rel="stylesheet" type="text/css">
    <link href="../scripts/style-base.css" rel="stylesheet" type="text/css">
    <title>balrog-finger</title>
    {% block customhead %}
    {% endblock %}

</head>
<body class="rel-container">
    <div id="header" class="un-out-padding">
        <div class="stabber rel-container">
            <div class="menu">
                <div class="menu-item">
                    <a href="/"><img src="../static/menu-item-front.png"></a>
                </div>
                <div class="menu-item">
                    <a href="/info"><img src="../static/menu-item-info.png"></a>
                </div>
                <div class="menu-item">
                    <a href="/table"><img src="../static/menu-item-table.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="main" class="rel-container stabber clear-fix-both">
        <!--<div class="main-bottom-background"></div>-->
        <div class="border-aligner left">
            <div class="border left ornament-vertical">
            </div>
        </div>
        <div class="border-aligner right">
            <div class="border right ornament-vertical">
            </div>
        </div>
        <div class="content">
{#    base form wrapper, other forms extend it    #}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer" class="un-out-padding">
        <div class="ornament-horizontal"></div>
        <div class="stabber rel-container">
            <div class="info">
                <h2>© 2014 Balrog Team Inc. All rights reserved</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>