{% extends 'base.html' %}

{% block htmltype %}
<html>
{% endblock %}

{% block customhead %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../scripts/utils_fingerprint.js"></script>
    <script src="../scripts/make_fingerprint.js"></script>
{% endblock %}

{% block content %}
<h2>FrontPage</h2>
    <hr> Please wait some time, while I am fingerprinting you
    <hr>
    <div class="o-container">
        <div class="corner top left"></div>
        <div class="corner top right"></div>
        <div class="corner bottom left"></div>
        <div class="corner bottom right"></div>
        <iframe class="o-content" width="640" height="360" src="//www.youtube.com/embed/u0eOuxJX36g?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}