{% extends 'base.html' %}

{% block htmltype %}
<html ng-app="infopage">
{% endblock %}

{% block customhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="../scripts/utils_fingerprint.js"></script>
    <script src="../scripts/infopage_fingerprints.js"></script>
{% endblock %}

{% block content %}
<body>
    <div ng-controller="BrowserFingerPrintCtrl as fingerprintCtrl">
        <h1>Your Fingerprints</h1>
        <li><strong>Cookie</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.cookie{{ "}}" }}</li>
        <li><strong>Count</strong>: {{ labels['count'] }}</li>
        <li><strong>UserAgent and OS</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.userAgent{{ "}}" }}</li>
        <li><strong>IP</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.ip{{ "}}" }}</li>
        <li><strong>Country</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.country{{ "}}" }}</li>
        <li><strong>City</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.city{{ "}}" }}</li>
{#        <li><strong>BrowserName</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.BrowserName{{ "}}" }}</li>#}
{#        <li><strong>BrowserInfo</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.BrowserInfo{{ "}}" }}</li>#}
        <li><strong>Plugins</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.plugins{{ "}}" }}</li>
        <li><strong>Platform</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.Platform{{ "}}" }}</li>
        <li><strong>NavigatorJSON</strong>: {{ "{{" }}fingerprintCtrl.fingerprints.navigatorJSON{{ "}}" }}</li>
    </div>
</body>

</html>
{% endblock %}