{% extends 'base.html' %}

{% block htmltype %}
<html ng-app="tablepage">
{% endblock %}

{% block customhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
    <script data-require="ng-table@*" data-semver="0.3.1" src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
{#    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />#}
    <link data-require="ng-table@*" data-semver="0.3.1" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />
    <link href="../scripts/bootstrap.min.css" rel="stylesheet" type="text/css">

{#    <link href="../scripts/common.css" rel="stylesheet" type="text/css">#}
    <link href="../scripts/style-base.css" rel="stylesheet" type="text/css">

    <script src="../scripts/tablepage_fingerprints.js"></script>

    <style>
        .ng-table-rowselected tr {
            cursor: pointer;
        }
    </style>

{% endblock %}

{% block content %}
<div ng-controller="TablePageCtrl">
    <h3 align="center">Результат сравнения выделенных сессий</h3>
    <p align="center">
        Same <b>OS</b>: {{ "{{" }}comparison_results.same_os{{ "}}" }}
        <br>
        Same <b>Browser</b>: {{ "{{" }}comparison_results.same_browser{{ "}}" }}
    </p>

    <table ng-table="tableParams" class="table ng-table-rowselected">
        <caption>
            <h3>Список всех входов на страницу <b>front</b></h3>
            Нажимайте на элементы, которые хотите сравнить по характеристикам
            <br>
        </caption>
        <tr ng-repeat="session in $data"
            ng-click="changeSelection(session)"
            ng-class="{'active': session.$selected}">
            <td data-title="'Time'" sortable="'time_mark'">
                {{ "{{" }}session.time_mark{{ "}}" }}
            </td>
            <td data-title="'IP'" sortable="'ip'">
                {{ "{{" }}session.ip{{ "}}" }}
            </td>
{#            <td data-title="'BrowserName'" sortable="'ip'">#}
{#                {{ "{{" }}session.BrowserName{{ "}}" }}#}
{#            </td>#}
            <td data-title="'BrowserInfo'" sortable="'BrowserInfo'">
                {{ "{{" }}session.BrowserInfo{{ "}}" }}
            </td>
            <td data-title="'Platform'" sortable="'Platform'">
                {{ "{{" }}session.Platform{{ "}}" }}
            </td>
            <td data-title="'Cookie'" sortable="'cookie'">
                {{ "{{" }}session.cookie{{ "}}" }}
            </td>
            <td data-title="'UserAgent'" sortable="'BrowserName'">
                {{ "{{" }}session.user_agent{{ "}}" }}
            </td>
            <td data-title="'Browser parameters from User Agent'" sortable="'browser_user_agent'">
                {{ "{{" }}session.browser_user_agent{{ "}}" }}
            </td>
            <td data-title="'Os parameters from User Agent'" sortable="'os_user_agent'">
                {{ "{{" }}session.os_user_agent{{ "}}" }}
            </td>
            <td data-title="'Comment'" sortable="'cool_comment'">
                {{ "{{" }}session.cool_comment{{ "}}" }}
            </td>
        </tr>
    </table>

</div>
{% endblock %}