/* =========================================== */
/* =========== additional layout settings ==== */
/* =========================================== */
/*centralizer*/
.stabber{
    width: 1100px;
    margin: 0 auto;
}
.stabber2{
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}
.centralizer{
    margin-left: auto;
    margin-right: auto;
}
/*brace for floated elements*/
.clear-fix:after, .clear-fix-both:before, .clear-fix-both:after{
    content: '';
    clear: both;
    display: table;
}
.un-out-padding {
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.overflow-hidden{
    overflow: hidden;
}
.abs-container{
    position: absolute;
}
.rel-container{
    position: relative;
}
.abs-fill{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.image-fix{
    width: 100%;
    visibility: hidden;
    margin-bottom: -5px;
    /*position: absolute;*/
    /*top: 0;*/
}
.image-fix-content{
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.Absolute-Center{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
td.cell-overflow
{
    /*usage: set max-width*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}