html, body{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1160px;
    background: #f0f0f0;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}
/* from out css */
h2, .h2 {
font-size: 30px;
}
h1, h2, h3 {
margin-top: 20px;
margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 500;
line-height: 1.1;
}
/* =========================================== */
/* =========== HEADER RULES ================== */
/* =========================================== */
#header{
    background: url("../static/texture-forge.png") 0px 32px;
    box-shadow: 0px 2px 2px;
    position: relative;
    text-align: center;
    height: 159px; /* KOCTblJlb*/
    z-index: 1;
}

.menu{
    margin-top: 4px;
    display: inline-block;
}

.menu-item{
    display: inline-block;
    height: 150px;
}

/* =========================================== */
/* =========== MAIN RULES ==================== */
/* =========================================== */

#main{
    position: relative;
    min-height: 800px;
    z-index: 0;
}

#main .content{
    padding: 10px;
}

/* =========== border rules ================== */
#main>div.border-aligner{
    position: absolute;
    /*todo this works?!*/
    width: 0;
    height: 100%;
}
#main>div.border-aligner.left{
    left: 0;
}
#main>div.border-aligner.right{
    right: 0;
}
#main>div.border-aligner>div.border{
    position: absolute;
    height: 100%;
    min-width: 50px;

}
#main>div.border-aligner>div.border.left{
    right: 0;
}
#main>div.border-aligner>div.border.right{
    left: 0;
}

.ornament-vertical{
    background: url("../static/ornament-vert.png");
}

.ornament-horizontal{
    background: url("../static/ornament-hor.png");
}

.o-container{
    position: relative;
    z-index: 1;
    padding: 25px;
    display: inline-block;
}
.o-content{
    box-shadow: 0px 0px 2px 2px;
}
.o-container .corner{
    z-index: -1;
    position: absolute;
    height: 50px;
    width: 50px;
}
.corner.top{
    top: 0px;
}
.corner.bottom{
    bottom: 5px;
}
.corner.left{
    left: 0px;
}
.corner.right{
    right: 0px;
}
/* =========================================== */
/* =========== FOOTER RULES ================== */
/* =========================================== */

#footer{
    text-align: center;
    color: #aaa;
    background: url("../static/texture-forge.png");
}

#footer .ornament-horizontal{
    height: 31px;

    box-shadow: inset 0px 2px 2px white;
    background-position: 0px -22px;
    background-repeat: repeat-x;
}

.dva {
  position: relative;
}
.dva:after {
  content: "";
  position: absolute; top: 0; left: -2em;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.8), rgba(255,255,255,.0)) no-repeat -2em 0%;
  background-size: 2em 100%;
  transform: skewX(-50deg);
}
.dva:hover:after {
  transition: 2s linear;
  background-position: 100% 0%;
}